body
{
    background-color: #000000;
    font-family: 'Overpass';
    margin-left: 10px;
    margin-right: 10px;
}

.cf_footer
{
    color: rgb(218, 218, 218);
}

.cf_load img
{
    width: 50px;
}

.cf_nav
{
    text-align: center;
}

.cf_nav a:hover 
{
    opacity: 0.7;
}

.cf_nav img
{
    width: 50px;
}


.cf_nav span
{
    color: white;
    align-content: center;
}