    .sa_search {
        padding-left: 15px;
        padding-top: 10px;
        /*background: rgb(29, 29, 29);*/
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(55, 55, 55, 1) 100%);
        color: #F6C519;
        align-content: center;
        padding-bottom: 15px;
    }
    
    .sa_button {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    
    .sa_dark {
        border-color: black;
    }
    
    .sa_movie {
        padding-top: 10px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(55, 55, 55, 1) 100%);
        color: #F6C519;
        padding-bottom: 15px;
        align-content: center;
        text-align: center;
    }
    
    .sa_movie h1 {
        text-shadow: 3px 3px 3px #3f3f3f;
    }
    
    .sa_movie img {
        max-width: 90%;
    }
    
    .sa_movie a {
        color: #F6C519;
        text-decoration: none;
    }
    
    .ficha {
        padding-top: 10px;
        padding-bottom: 15px;
        text-align: justify;
        padding-left: 15px;
    }
    
    .ficha i {
        padding-right: 5px;
    }
    
    .sa_configure {
        padding-top: 10px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(55, 55, 55, 1) 100%);
        color: #F6C519;
        padding-bottom: 15px;
        align-content: left;
        text-align: left;
        padding-left: 10px;
    }
    
    .sa_configure a {
        color: #F6C519;
        text-decoration: none;
    }
    
    .sa_configure img {
        padding-top: 10px;
        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    
    .sa_configure h3 {
        padding-top: 10px;
        padding-left: 10px;
    }
    
    .sa_center_img {
        text-align: center;
        align-content: center;
    }
    
    .sa_center_img img {
        text-align: center;
        align-content: center;
    }
    
    .sa_center_img h6 {
        text-align: center;
    }
    
    .sa_center_img h6:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .sa_configure p {
        color: rgb(180, 180, 180);
    }
    
    .sa_add_to {
        display: inline-block;
        border-color: #3f3f3f;
    }
    
    .sa_add_to i {
        padding-right: 10px;
    }
    
    .sa_add_to a {
        color: black;
        cursor: pointer;
    }
    
    .sa_add_to button {
        border-radius: 15px 15px 0px 0px;
        padding-bottom: 10px;
    }
    
    .sa_table {
        padding: 10px 10px 10px 10px;
        color: white;
        text-align: center;
        align-content: center;
    }
    
    .sa_table h6 {
        font-size: 60%;
    }
    
    .sa_table td {
        font-size: 20px;
        vertical-align: middle;
        text-align: center;
    }
    
    .sa_table img {
        border-radius: 0px;
        max-width: 50px;
        max-height: 50px;
    }
    
    .sa_table:hover tr:hover {
        color: #a7a7a7;
    }
    
    .sa_table i {
        font-size: 35px;
        color: #F6C519;
    }
    
    .sa_table i:hover {
        color: rgb(185, 145, 0);
        cursor: pointer;
    }
    
    .dropdown-submenu {
        position: relative;
    }
    
    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }
    
    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }
    
    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }
    
    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }
    
    .dropdown-submenu.pull-left {
        float: none;
    }
    
    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }
    
    .sa_sub {
        cursor: pointer;
    }