.sa_search 
{
    padding-left: 15px;
    padding-top: 10px;
    /*background: rgb(29, 29, 29);*/
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(55,55,55,1) 100%);
    color:#F6C519;
    align-content: center;
    padding-bottom: 15px;
}

.sa_button
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}